<div>
  <h1 class="m-3 text-center text-primary">Angular</h1>
  <nav>
    <div class="btn-group d-flex justify-content-center mx-2">
      <a class="btn btn-success border border-dark" routerLink="">Главная</a>
      <a class="btn btn-success border border-dark" routerLink="/price"
        >Форматирование</a
      >
      <a class="btn btn-success border border-dark" routerLink="/rec"
        >Прямоугольник</a
      >
      <a class="btn btn-success border border-dark" routerLink="/test">Тест</a>
      <a class="btn btn-success border border-dark" routerLink="">Ничего</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
